:root {
	--color-background: #120f0f;
	--color-primary: #c49b63;
	--font-color-primary: #f4f4f4;
	--font-color-secondary: #7b7b7b;
	--font-principal: 'Montserrat', sans-serif;
	--font-secundaria: 'Nunito Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat', 'Nunito Sans', sans-serif;
}

body {
	background-color: var(--color-background);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

.navbar__logo {
	width: 6rem;
}
.navbar__search__icon {
	color: black;
	font-size: 1.5rem;
}

.navbar__cart__icon {
	font-size: 1.5rem;
}

h1 {
	font-family: var(--font-secundaria);
}
