:root {
	--color-primary: #ebf2f2;
	--color-secondary: #d0f2e7;
	--color-tertiary: #bcebdf;
	--color-quaternary: #ade0db;
	--color-quinary: #d9dbdb;
	--font-principal: 'Montserrat', sans-serif;
	--font-secundaria: 'Nunito Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-family: var(--font-principal);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

.navbar__logo {
	width: 6rem;
}
.navbar__search__icon {
	color: black;
	font-size: 1.5rem;
}

.navbar__cart__icon {
	font-size: 1.5rem;
}
