body {
	background-color: var(--color-background);
}

#login {
	background-color: var(--color-primary);
}

#inicioS {
	background-color: var(--color-background);
	border: #ffc851;
}

.bg {
	background-image: url(../../assets/img/login-chef.png);
	background-position: center center;
	background-color: var(--color-background);
	background-repeat: no-repeat;
}

.btn__InicioSesion {
	background: var(--color-primary);
	width: 150px;
	height: 50px;
	text-align: center;
}

.btn__InicioSesion:hover {
	background: var(--font-color-secondary);
	color: var(--font-color-primary);
}

.login__form__btn--gmail {
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
}

.registrate_login {
	color: var(--color-primary);
	font-size: 17px;
}

.recuperaContraseña_login {
	color: var(--color-primary);
	font-size: 17px;
}
.title {
	color: var(--color-primary);
	font-family: var(--font-principal);
	font-size: 1.2rem;
}

@media all and (min-width: 380px) {
	.title {
		font-size: var(--font-size-title);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-tablet);
	}
}

@media all and (min-width: 768px) {
	.title {
		font-size: var(--font-size-title-tablet);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-tablet);
	}
}

@media all and (min-width: 1024px) {
	.title {
		font-size: var(--font-size-title-desktop);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-desktop);
	}
}
