:root {
	--color-background: #121618;
	--color-primary: #ffc851;
	--font-color-primary: #ffffff;
	--font-color-secondary: #7b7b7b;
	--font-principal: 'Montserrat', sans-serif;
	--font-secundaria: 'Nunito Sans', sans-serif;
	--font-size-title: 4rem;
	--font-size-subtitle: 2.5rem;
	--font-size-parrafo: 1.5rem;
	--font-size-bottom: 1.2rem;
}

body{
    background-color: var(--color-background);
    
}
html {
	scroll-behavior: smooth;
	font-family: var(--font-principal);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

.register__logo{
    width: 7rem;
}

.navbar__logo {
	width: 5rem;
}
.navbar__search__icon {
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
}

.navbar__cart__icon {
	font-size: 1.5rem;
}
.formReg
{
    text-align: center;
}

.form-control:focus {
	border-color: var(--color-primary);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 168, 20, 0.6);
	
}

.row__Register{
	background-color: var(--color-background);
}
.btn__Reg
{
	background: var(--font-color-primary);
	border-color: var(--color-background);
}
.btn__Reg:hover,
.btn__Reg:active {
	background-color: var(--color-primary);
	color: var(--color-background);
	transition: all 0.5s ease-in-out;
}
@media all and (min-width: 768px) {


	.title {
		font-size: var(--font-size-title-tablet);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-tablet);
	}


}

@media all and (min-width: 300px) {


	.title {
		font-size: var(--font-size-parrafo);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-tablet);
	}
	


}
@media all and (min-width: 1024px) {
	

	.title {
		font-size: var(--font-size-title-desktop);
	}
	.subtitle {
		font-size: var(--font-size-subtitle-desktop);
	}
	
	
}