.hamburgesaBannerMovie {
  width: 100%;
}

.little-dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 10;
}
.big-dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #f6af54;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 10;
}
.hoverCard img {
  transition: 2s;
}
.hoverCard:hover {
  border-radius: 8px;
  box-shadow: 7px 7px 14px #e0b047, -7px -7px 14px #ffe05b;
}

.hoverCard:hover img {
  transform: scale(1.3);
  transition: 2s;
}

@media screen and (max-width: 768px) {
  .hamburgesaBannerMovieResponsive {
    margin-top: 100px;
  }
  .bebidaBannerMovieResponsive {
    margin-top: 200px;
  }
}
