body {
	background-image: url('../../assets/img/nosotros-background.png');
	background-position: top;
	background-attachment: fixed;
	background-blend-mode: color-burn;
}

.nosotros__card__item:hover .card-img-top {
	filter: grayscale(0%);
	transition: all 0.5s ease-in-out;
}

.nosotros__card__item:hover .card {
	border-color: var(--font-color-secondary);
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}

.card img {
	filter: grayscale(100%);
}

.nosotros__title {
	font-family: var(--font-principal);
	color: var(--font-principal);
	font-size: var(--font-size-title);
}

.nosotros__text {
	font-family: var(--font-secundaria);
	font-size: var(--font-size-parrafo);
	color: var(--font-color-secondary);
}

.card-title {
	color: var(--color-primary);
}

.nosotros__card__btn__social {
	color: var(--font-color-primary);
}

.nosotros__card__btn__social:hover {
	color: var(--color-primary);
	transform: scale(1.3);
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
